* {
    margin:0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    
}
header {
    width:100%;
    height:125px;
    background-color: #f1a536;

}
header nav ul {
    float:right;
    padding: 52px 64px;
}
header nav ul li {
    display: inline;
    padding: 3px 20px;
}
header nav ul li a {
    font-size: 28px;
    text-decoration: none;
    color: black;
} 
.parisLogo {
    display: inline;
    float: left;
    padding: 21px 133px;
}

.frontPage {
    width: 100%;
    height:600px;
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
    border-top: 5px white solid;
}
.start {
    position: absolute;
    bottom: 83px;
    right: 456px;
    font-size: 38px;
    background-color: white;
    padding: 10px 10px;
    font-weight: 1000;
}
.everydayMeals {
    width:100%;
    height:100vh;
}
.cate {
    font-size:64px;
    padding: 35px 133px;
}
.homeCook {
    font-size: 27px;
    padding: 0px 133px;
}
.every-Cont {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 133px;
}
.importantMeal {
    width:350px;
    height:300px;
    background-image: url("../images/breakfast-ideas.jpg");
    background-size: cover;
    background-position: center;
}
.veggie {
    width:350px;
    height:300px;
    background-image: url("../images/veggie.png");
    background-size: cover;
    background-position: center;
}
.weeknight {
    width:350px;
    height:300px;
    background-image: url("../images/weeknight.png");
    background-size: cover;
    background-position: center;
}
.text-Cont {
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size:27px;
    top: -33px;
    padding: 0 192px;
}
.veg {
    position: relative;
    left: 15px;
}
.week {
    position: relative;
    left: 10px;
}
.healthy {
    width: 100%;
    height: 100vh;
    background-color: #dadfea;
}
.healthyRecipes {
    width:275px;
    height:225px;
    background-size: cover;
}
#stuffedPeppers {
    background-image: url("../images/fajita-peppers.jpeg");
}
#muffin {
    background-image: url("../images/muffins.jpeg");
}
#eggplant {
    background-image: url("../images/eggplant.png");
}
#chickenThighs {
    background-image: url("../images/chickenThigh.png");
}
#recipe-Cont {
    padding: 0 190px;
}
#whitePep {
    background-color: white;
    padding: 12px 43px;
    position: relative;
    left: -57px;
    top: -16px;
}
#whiteMuf {
    background-color: white;
    padding: 12px 38px;
    position: relative;
    left: -18px;
    top: -16px;
}
#whiteEgg {
    background-color: white;
    padding: 12px 55px;
    position: relative;
    left: 21px;
    top: -16px;
}
#whiteChi {
    background-color: white;
    padding: 12px 39px;
    position: relative;
    left: 58px;
    top: -16px;
}
.international {
    width: 100%;
    height: 140vh;
}
#worldMenus {
    padding:42px 133px;
}
.worldFoods {
    width:375px;
    height:300px;
    background-size: cover;
    border: 10px #dadfea solid;
}
#pork {
    background-image: url("../images/pork.png");
}
#pizza {
    background-image: url("../images/pizza.png");
}
#lobster {
    background-image: url("../images/lobster.png");
}
.centerText {
    position: relative;
    left: -74px;
}
footer {
    width:100%;
    height:125px;
    background-color: #f1a536;
}
footer nav ul {
    float:right;
    position: relative;
    top: 57px;
    left: -78px;
}
footer nav ul li {
    display: inline;
    padding: 0px 12px;
}
footer nav ul li a {
    font-size: 20px;
    text-decoration: none;
    color: black;
} 
.copyright {
    font-size:24px;
    float: left;
    position: relative;
    top: 52px;
    left: 133px;
}
#recipePage {
    background-image: url("../images/bengal-burger.jpg");
    border: none;
}
.difficulty {
    width: 100%;
    height:300px;
    background-color: #dadfea;
}
.prep  ul {
    padding: 0px 81px;
}
.prep  ul li {
    display: inline;
    padding: 3px 66px;
    font-size: 26px;
    color: black;
}
.total  ul {
    padding: 23px 86px;
}
.total  ul li {
    display: inline;
    padding: 0px 59px;
    font-size: 26px;
    color: black;
}
.ben {
    width: 100%;
    height:360px;
}
.bengalBurger {
    text-align: center;
    font-weight: 900;
    font-size: 54px;
    position: relative;
    top: 60px;
}
.stars {
    text-align: center;
    font-size:  32px;
    position: relative;
    top: 76px;
    left: 42%;
    color:#a63223;
    display: inline;
}
.reviews {
    text-align: center;
    font-size:  18px;
    position: relative;
    top: 73px;
    left:44%;
    display: inline;

}
.download {
    text-align: center;
    font-size: 19px;
    position: relative;
    top: 133px;
    left: 406px;
    color: white;
    background-color: #a63223;
    border-radius: 43px;
    padding: 12px 29px;
    border: none;
}
.download:hover {
    background-color: #6d2117;
    cursor: pointer;
    transition: .5s;
}
#printer {
    text-align: center;
    font-size: 30px;
    position: relative;
    top: 140px;
    left: 432px;
    color: #bbbbbb;
    border-radius: 43px;
    padding: 9px 9px;
    border: 2px #bbbbbb solid;
}
#printer:hover {
    border:2px black solid;
    color:  black ;
    cursor: pointer;
    transition: .5s;
}
.awesome {
    width: 80%;
    height:305px;
    text-align: center;
    background-color: #eef0f4;
    position: relative;
    left: 10%;
}
.lackluster {
    font-size: 30px;
    font-weight: 800;
    color: #575656;
    position: relative;
    top: 53px;

}
.insturctions {
    width: 100%;
    height: 200vh;
    overflow: hidden;
}
#ing {
    position: relative;
    top: 70px;
    left: 148px;
    padding:10px;
}
.ingredients ul {
    position: relative;
    top: 88px;
    left: 148px;
    float:left;
}
.ingredients ul li {
    padding: 4px 0px;
    font-size:20px;
}
#mix {
    position: relative;
    top: 440px;
    left: -304px;
    padding: 10px;
    font-size: 34px;
}
#spice ul  {
    position: relative;
    top: 108px;
    left: 148px;

}
#spice {
    position: relative;
    top: 314px;
    left: -501px;
}
#direct {
    position:relative;
    top: -98px;
    left: -72px;
}

.directions ol {
    float:right;
    position: relative;
    top:-104px;
    left:-111px;
}
.directions ol li {
    padding: 23px 0px;
    font-size:20px;
}
.counter {
    font-weight: 800;
    font-size: 19px;
    position: relative;
    top: 21px;
    left: -5px;
}